#adoption-section{
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#adoption-section > h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #003566;
    margin-bottom: 2rem;
    text-align: center;

    
}

/* Filter */
.search-and-filter{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-bar > label{
    font-size: 1.25rem;
    font-weight: 700;
    color: #000814;
}

.search-bar > input{
    width: 512px;
    height: 50px;
    padding: 0 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}


.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.filter > div{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.filter label{
    font-size: 1.25rem;
    font-weight: 700;
    color: #000814;
}

.filter select{
    width: 200px;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #f1f1f1;
    color: #000814;
    border: none;
    border-radius: 8px;
    padding: 0 1rem;
    cursor: pointer;
}

/* Item */
.item-adopt{
    background-color: #f2f2f2;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: #000814;
}

.item-adopt:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #000814;
}

.item-adopt > img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.item-adopt > span{
    font-size: 1.5rem;
    font-weight: 500;
    color: #000814;
    padding-bottom: 1.25rem;
}

/* Page number */
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;

}

.pagination > button{
    background-color: #ffc300;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin: 0 8px;
    cursor: pointer;
}

.pagination > span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #003566;
    margin: 0 8px;
}

.pagination > button:disabled{
    opacity: 0.5;
}

/* Pet Release */
#release-pet-section{
    background-color: #fffceb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.release-pet-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.release-pet-container > h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #003566;
    text-align: center;
}

.release-pet-container > p{
    font-size: 1rem;
    margin-top: 4px;
    font-weight: 400;
    color: #515151;
    text-align: center;
    width: 75%;
}

.release-pet-container > button{
    
    text-decoration: none;
    margin-top: 48px;
    padding: 16px 32px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000814;
    background-color: #ffc300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#release-pet-section > img{
    width: 50%;
}


@media (max-width: 1024px){
    #release-pet-section {
        flex-direction: column;
        padding: 5vh 0;
        width: 100%;
        gap: 2rem;        
        padding: 0;
        padding-top: 5vh;
    }

    

    #release-pet-section img{
        width: 100%;
        height:100%;
    }

    .release-pet-container{
        width: 75%;
    }
}




@media (max-width:853px){
    .search-and-filter{
        align-items: flex-start;
        width: 90%;
    }
    
    .search-bar{
        justify-content: flex-start;
    }

    .search-bar > input{
        width: 512px;
    }

    .filter{
        flex-direction: column;
        width: 256px;
        gap: 1rem;
    }

    .filter select{
        width: 128px;
        
    }

    .filter > div{
        width: 100%;
        justify-content: space-between;
    }

    .release-pet-container p{
        font-size: 1rem;
    }

}

@media (max-width: 420px){
    .item-adopt{
        width: 250px;
        height: 300px;
    }
    
    
    .item-adopt > img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    .item-adopt > span{
        font-size: 1.25rem;
    }

    .release-pet-container p{
        font-size: 0.75rem;
        width: 100%;
    }
}