@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', serif;
}

/* Hero Section */
#hero{
    padding-top: 10vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-text{
    animation: slide_up 2s ease;
}

.hero-text h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #003566;
}

.hero-text h3{
    font-size: 2rem;
    font-weight: 500;
    color: #003566;
    padding-bottom: 2.5rem;
}

.hero-text a{
    color: #000814;
    background-color: #ffc300;
    padding: 12px 24px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}


@keyframes slide_up{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Help Us Section */
#help-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    padding: 5vh 0;
    gap: 2rem;
}

#help-us h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #003566;
    text-align: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card{
    background-color: white;
    width: 300px;
    height: 225px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: #000814;
    animation: slideUp 1s ease forwards;
    opacity: 0;
}

@keyframes slideUp{
    0%{
        transform: translateY(25%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    transform: scale(1.05);
}

.card h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card h3 img{
    width: 75px;
    height: 75px;
    padding: 12px;
    border-radius: 50%;
    background-color: #ffc300;
}

.card span{
    font-weight: 500;
}

/* Animals Adoption Section */
#animals-adoption{
    width: 100%;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 0;
    
}

#animals-adoption h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #003566;
    text-align: center;
}

.animals-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    gap: 2rem;
    height: 125vh;
    width: 85%;
}

.animals-container h1{
    align-self: center;
}



.view-button{
    padding: 12px 36px;
    margin: 36px 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000814;
    background-color: #ffc300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

/* Caring pets */
#caring-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 6vh 0;
    background-color: #f2f2f2;
}
#caring-pet h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #003566;
    text-align: center;
}


.caring-pet-video{
    width: 75%;
    height: 512px;
}

#caring-pet iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* faq */
.faq{
    padding: 6vh 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;   
    align-items: center;
}

.faq h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #003566;
    margin-bottom: 1rem;

}

.questions{
    border: 2px solid #003566;
    background-color: #ffc300;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    width: 700px;
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.question img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.question h3{
    font-size: 1.5rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
}

.answer p{
    width: 90%;
    padding: 1rem 0;
    line-height: 1.5;
    font-size: 1.4rem;
    
}

.question > img{
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}

.question h3{
    font-size: 1.5rem;
    color: #001d3d;
}

.answer p{
    font-size: 1rem;
    color: black;
}

/* join us section */
#join-us{
    background-color: #fffceb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#join-us img{
    width: 50%;
}

.sign-up-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sign-up-text h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #003566;
    text-align: center;
}

.sign-up-text p{
    font-size: 1.25rem;
    margin-top: 4px;
    font-weight: 400;
    color: #515151;
    text-align: center;
}

.sign-up-text button{
    text-decoration: none;
    margin-top: 48px;
    padding: 16px 32px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000814;
    background-color: #ffc300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

footer{
    background-color: #001d3d;
    color: white;
    text-align: center;
    padding: 1rem 5rem;
}

@media (max-width: 1325px){
    .animals-container{
        gap: 1.5rem;
        height: auto;
    }
}

@media (max-width: 1024px){
    #hero{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    
    .hero-text{
        text-align: center;
        align-items: center;
        padding-left: 0;
        width: 100%;   
    }

    .hero-text button{
        width: 225px;
        font-size: 1.5rem;
        
        margin-bottom: 5vh;
    }

    .cards-container{
        width: 85%;
    }

    #join-us {
        flex-direction: column;
        padding: 5vh 0;
        width: 100%;
        gap: 2rem;

        
        padding: 0;
        padding-top: 5vh;

    }


    #join-us img{
        width: 100%;
        height:100%;
    }

    .animals-container{
        width: 100%;
        gap: 1rem;
        height: auto;
    }

    
    

}

@media (max-width:853px){
    #hero img{
        width: 512px;
    }

    .hero-text h1{
        font-size: 2.25rem;
    }

    .hero-text h3{
        font-size: 1.75rem;
    }

    .sign-up-text p{
        font-size: 1rem;
    }
}

@media (max-width:540px){
    #hero img{
        width: 400px;
    }

    .hero-text h1{
        font-size: 2rem;
    }

    .hero-text h3{
        font-size: 1.5rem;
    }

    .hero-text button{
        width: 200px;
        font-size: 1.25rem;
    }
    .questions{
        max-width: 90%;
    }

    .question h3{
        font-size: 1.1rem;
    }

    .answer p{
        font-size: 0.75rem;
    }


}

@media (max-width: 420px){
    #hero img{
        width: 300px;
    }

    .hero-text h1{
        font-size: 1.75rem;
    }

    .hero-text h3{
        font-size: 1.25rem;
    }

    .hero-text button{
        width: 175px;
        font-size: 1rem;
    }

    .sign-up-text p{
        font-size: 0.75rem;
        width: 100%;
    }

    .animals-container{
        gap: 2rem;
    }

    .item{
        width: 250px;
        height: 300px;
    }
    
    .item > img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    .item > span{
        font-size: 1.25rem;
    }
    
}
