#reset-password-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../media/login-background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#reset-password-page > a{
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}



#reset-password-container{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 512px;
    padding: 36px 24px;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 10px;
}

#reset-password-container > h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
}

#reset-password-container > form{
    display: flex;
    flex-direction: column;
    width: 75%;
}

#reset-password-container > form label{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-top: 16px;
}

#reset-password-container > form input{
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#reset-password-container > form button{
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 48px;
}

@media (max-width:540px){
    #reset-password-container > h1{
        font-size: 2rem;
    }
    
    #reset-password-container > form label{
        font-size: 12px;
    }
    
    
    #reset-password-container > form button{
        font-size: 0.75rem;
    }
    

    #reset-password-container > form{
        width: 85%;
    }
}